<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% firstof title "Book Shop" %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-info bg-gradient">
    <div class="container">
        <a class="navbar-brand" href="{% url 'product_list' %}">Book Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'customer_list' %}">Покупатели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'seller_list' %}">Продавци</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'order_list' %}">Заказы</a>
                </li>
                <li class="nav-item">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                             Отчеты
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'report' %}">Покупатели продавца</a></li>
                            <li><a class="dropdown-item" href="{% url 'report2' %}">Продажи товаров продавца</a></li>
                            <li><a class="dropdown-item" href="{% url 'report3' %}">Покупатели товаров</a></li>
                            <li><a class="dropdown-item" href="{% url 'report4' %}">Продажы по дате</a></li>
                            <li><a class="dropdown-item" href="{% url 'report5' %}">Сумма продаж по дате</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% include 'messages.html' %}
{% block content %}
    <!--     CONTENT   -->
{% endblock %}
</body>
</html>